@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@500&display=swap');

body {
    font-family:'Kanit', sans-serif;
    overflow-x: hidden;
    background-color: antiquewhite;


}
#contenedor-formulario {
    position:center;
    top: 50%;
    margin: auto;
    
    background: #ebebf2;
    border-radius: 5px;
    max-width: 500px;
}
#titulo-formulario{
    color: #3f3f3f;

}

footer {
    background: #1b2a4e;
    min-height: 100px;


}
footer p {
    color: #f3f3f3;
    text-align: center;
}
#iconos i{
    font-size: 26px;
    padding: 0 8px;
    color: #f3f3f3;

}
/**/
#menu a {
    font-size: 18px;
    font-weight: bold;
    color: black;
}
.foto{
    border-radius: 50%;
}


.warnings{
    width: 300px;
    text-align: center;
    margin: auto;
    color: #000000;
    padding-top: 5px;
}
